body {
    background-color: #F07F08;
    color: #004F99;
    font-family: Arial;
    font-size: 110%;

}

h1 {
    color: #CB2537;
    font-family: Times;
    font-size:
}

h2 {color: #CB2537;
  font-family: Times;

}

P {
  color: #004F99;
  font-family: Arial;

}

a {
  color: #00A999;
  background-color: #cccccc;
}
